<div class="card mb-2">
    <div class="card-header bg-dark text-white">
        <h5><i class="far fa-chart-bar"></i>Estadisticas</h5>
    </div>
    <div class="card-body">
        <p><i class="fas fa-images"> Imágenes: {{sidebar.stats.images}}</i></p>
        <p><i class="fas fa-comments"> Comentarios: {{sidebar.stats.comments}}</i></p>
        <p><i class="fas fa-eye"> Vistas: {{sidebar.stats.views}}</i></p>
        <p><i class="fas fa-heart"> Likes: {{sidebar.stats.likes}}</i></p>
    </div>
</div>