<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imágenes Compartidas</title>
    <!-- FONTAWESONE -->
    <script src="https://kit.fontawesome.com/4fc99681f0.js" crossorigin="anonymous"></script>
    <!-- BOOTSTRAP 4 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cosmo/bootstrap.min.css">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/public/css/styles.css" </head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a href="/" class="navbar-brand">
                <img src="/public/img/imgshare-logo.png" alt="Aqui logo">
            </a>
        </div>
    </nav>

    <div class="container p-4">
        <div class="row">
            <div class="col-md-8">
                {{{ body }}}
            </div>
            <div class="col-md-4">
                {{> stats}}
                {{> popular}}
                {{> comments}}
            </div>
        </div>
    </div>

<!-- SCRIPTS -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

<!-- CODIGO PERSONALIZADO -->
    <script src="/public/js/scripts.js"></script>


</body>

</html>